body {
  background-image: url("/swirl_pattern.png");
}

.jumbotron {
  background-color: #ffffff !important;
}

.box {
  height: 50px;
  width: 50px;
  border: #000000 solid 1px;
  border-radius: 5px;
  display: inline-block;
}

.jar {
  background-image: url("/jar.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

strong {
  color: #ff0000;
}

.play-again{
  margin-top: 10px;
}

#guess {
  height:100px;
  width:100px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 20px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center;
}
