body {
  background-image: url("images/swirl_pattern.png");
}

.jumbotron {
  background-color: #ffffff !important;
  position: absolute;
  left: 15%;
  right: 15%;
}

.description{
  padding: 10px;
  line-height: 20px;
}

#box1, #box2, #box3, #box4, #box5 {
  height: 50px;
  width: 50px;
  border: #000000 solid 5px;
  border-radius: 5px;
  display: inline-block;
  vertical-align: top;
}

.jar {
  background-image: url("images/jar.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px;
}

.face img {
  max-width:60%;
  max-height:60%;
}

strong {
  color: #ff0000;
}

.play-again{
  margin-top: 10px;
}

#guess {
  height:100px;
  width:100px;
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 20px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center;
}

.past-guesses {
/*  display: table-cell;
  vertical-align: middle;*/
  line-height: 50px;
  margin: 0;
}

.win {
  font-size: 75px !important;
  background: -webkit-linear-gradient(#26c199, #38a78a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lose {
  font-size: 75px !important;
  background: -webkit-linear-gradient(#ee25ba, #ee173b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

canvas {
  display: block;
  position: relative;
  zindex: 1;
  pointer-events: none;
}

.bubble {
  position: absolute;
  top: 10px;
  right: 0px;
  width: 300px;
  height: 130px;
  padding: 0px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #000000 solid 5px;
}

.bubble:after {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 15px 0 15px 15px;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  right: -15px;
  top: 76px;
}

.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 19px 0 19px 19px;
  border-color: transparent #000000;
  display: block;
  width: 0;
  z-index: 0;
  right: -24px;
  top: 72px;
}
